code.stellar-address {
	font-size: 100%;
	padding: 0.42em 0.6em 0.3em;
	border: 1px solid #C0C0C0;
	background-color: #EFEFEF;
	background-color: rgba(230,230,230,0.50);
}
.stellar-tooltip {
	position: absolute;
	height: 1.6em;
	line-height: 1.6em;
	padding: 0.6em;
	font-size: 14px;
	text-align: center;
	color: rgb(239, 239, 239);
	background: rgba(46, 46, 46, 0.95);
	border: 1px solid rgba(46, 46, 46, 0.95);
	border-color: rgba(46, 46, 46, 0.95) rgba(46, 46, 46, 0.95) rgba(46, 46, 46, 0.95) rgba(46, 46, 46, 0.95);
	border-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
	left: -10.6em;
	top: 3em;
	display: none;
}
.stellar-copy-button.zeroclipboard-is-hover span.stellar-tooltip {
	display: inline-block;
}
.stellar-tooltip:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent rgba(46, 46, 46, 0.95) transparent;
	top: -1.5em;
	left: 12em;
}
.stellar-tooltip.copied {
	left: -0.4em;
}
.stellar-tooltip.copied:after {
	left: 1.8em;
}
.stellar-transaction.pending.woocommerce-info {
	background-image: url(../images/sending.gif);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 60px;
}
.stellar-transaction-error-message {
	display: inline-block;
}
.stellar-registration {
	margin: 1em 0 2em 0;
}